<h1><%= @user.full_name %>! You have changed your password.</h1>

<p>Just incase if you forgot your new password, we are sending you this on email.</p>

<p>Your login id is your email : <%= @user.email %> or mobile : <%= @user.mobile %></p>
<p>Your password is <%= @password %></p>

<p>You can change your password from your profile or use forgot password</p>


