<h1><%= @user.full_name %>! We have reset your password.</h1>

<p>Below is your login details.</p>

<p>Your login id is your email : <%= @user.email %> or mobile : <%= @user.mobile %></p>
<p>Your password is <%= @password %></p>

<p>Login Now and Change your password.</p>


