<div class="passwordBox animated fadeInDown">
  <div class="row">

    <div class="col-md-12">
      <div class="ibox-content">
      <%= render :partial => "shared/notification"%>
        <h2 class="font-bold">Update password</h2>

        <p>
            Enter your Current password & New Password.
        </p>

        <div class="row">
          <div class="col-lg-12">
            <%= form_tag change_password_users_path, {:id => 'update_password',:method => 'POST'} do %>
              <div class="form-group">
                  <%= password_field_tag :password, '', :class => 'form-control',:placeholder => "Current Password" %>
              </div>
              <div class="form-group">
                  <%= password_field_tag :new_password, '', :class => 'form-control',:placeholder => "Enter New Password",  :required => true %>
              </div>

              <button class="btn btn-primary block full-width m-b" type="button" id="submit_button"><i class="fa fa-check"></i>&nbsp;Update Password</button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $( document ).ready(function() {
        $("#submit_button").click(function(){
          var new_pwd = $('#new_password').val();
          if(new_pwd.length > 0){
            $('#update_password').submit()
          } else {
            alert('New password cannot be blank.')
          }
        });
    });
</script>