<h1>Thanks for signing up, <%= @client.full_name %>!</h1>
<p>Thanks for joining and have a great day! Now sign in and raise your estimation request!</p>

<p>Your login id is your email : <%= @client.email %> or mobile : <%= @client.mobile %></p>
<p>Your password is <%= @password %></p>
