<div class="passwordBox animated fadeInDown">
  <div class="row">
    <div class="col-md-12">
      <div class="ibox-content">
        <%= render :partial => "shared/notification"%>
        <h2 class="font-bold">Forgot password</h2>
        <p>
            Enter your email address and your password will be reset and emailed to you.
        </p>

        <div class="row">
          <div class="col-lg-12">
            <%= form_tag :controller => 'login', :action => 'forgot_password', :id => 'forgot_password',:method => 'POST' do %>
                <div class="form-group">
                  <%= email_field_tag :email, '', :class => 'form-control',:placeholder => "Enter Your Email" %>
                </div>

                <button class="btn btn-primary block full-width m-b" type="button" id="submit_button">Send new password</button>
            <% end %>
            <p class="text-muted text-center">
              <small>Login Here?</small>
            </p>
            <a class="btn btn-sm btn-white btn-block" href="<%= login_index_path %>">Login Here</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $( document ).ready(function() {
        $("#submit_button").click(function(){
          var email = $('#email').val();
          if(email.length > 0){
            $('form').submit()
          } else {
            alert('Please enter email.')
          }
        });
    });
</script>