<div class="footer">
    <div class="pull-right">
        <%= Time.now %>
    </div>
    <div>
        <strong>Copyright</strong> <%= APP_CONFIG[:product_name] %> &copy; 2014-2019
    </div>
</div>
